In [122]:
#Import Dependencies
import pandas as pd
import numpy as np

In [98]:
#Import dataset 
df = pd.read_csv('D:/Downloads/BTC-USD.csv')

In [99]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-12-18,6647.698242,7324.984863,6540.049316,7276.802734,7276.802734,31836522778
1,2019-12-19,7277.590820,7346.602539,7041.381836,7202.844238,7202.844238,25904604415
2,2019-12-20,7208.636719,7257.921875,7086.124023,7218.816406,7218.816406,22633815180
3,2019-12-21,7220.593750,7223.226074,7112.735840,7191.158691,7191.158691,19312552168
4,2019-12-22,7191.188477,7518.033203,7167.179199,7511.588867,7511.588867,23134537956
...,...,...,...,...,...,...,...
362,2020-12-14,19144.492188,19305.099609,19012.708984,19246.644531,19246.644531,22473997681
363,2020-12-15,19246.919922,19525.007813,19079.841797,19417.076172,19417.076172,26741982541
364,2020-12-16,19418.818359,21458.908203,19298.316406,21310.597656,21310.597656,44409011479
365,2020-12-17,21308.351563,23642.660156,21234.675781,22805.162109,22805.162109,71378606374
366,2020-12-18,23088.000000,23234.296875,22429.613281,22695.804688,22695.804688,49224278016

In [100]:
#Drop columns
df.drop(['Date' , 'Open' , 'High' , 'Low' , 'Adj Close' , 'Volume'], inplace = True , axis = 1 )

In [101]:
Prediction_days = 30
df['Prediction'] = df['Close'].shift(-Prediction_days)

In [102]:
df

            Close   Prediction
0     7276.802734  8929.038086
1     7202.844238  8942.808594
2     7218.816406  8706.245117
3     7191.158691  8657.642578
4     7511.588867  8745.894531
..            ...          ...
362  19246.644531          NaN
363  19417.076172          NaN
364  21310.597656          NaN
365  22805.162109          NaN
366  22695.804688          NaN

[367 rows x 2 columns]

In [103]:
df.iloc[30:50]

          Close    Prediction
30  8929.038086   9934.433594
31  8942.808594   9690.142578
32  8706.245117  10141.996094
33  8657.642578   9633.386719
34  8745.894531   9608.475586
35  8680.875977   9686.441406
36  8406.515625   9663.181641
37  8445.434570   9924.515625
38  8367.847656   9650.174805
39  8596.830078   9341.705078
40  8909.819336   8820.522461
41  9358.589844   8784.494141
42  9316.629883   8672.455078
43  9508.993164   8599.508789
44  9350.529297   8562.454102
45  9392.875000   8869.669922
46  9344.365234   8787.786133
47  9293.521484   8755.246094
48  9180.962891   9078.762695
49  9613.423828   9122.545898

In [104]:
X = np.array(df.drop(['Prediction'],axis = 1))
X = X[:len(df)-Prediction_days]

In [105]:
len(X)

337

In [106]:
Y = np.array(df['Prediction'])
Y = Y[:-Prediction_days]

In [107]:
len(Y)

337

In [108]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X ,Y , test_size= 0.2)

In [110]:
prediction_date_array = np.array(df.drop(['Prediction'] , 1))[-Prediction_days : ]
print(prediction_date_array)

[[17817.089844]
 [18621.314453]
 [18642.232422]
 [18370.001953]
 [18364.121094]
 [19107.464844]
 [18732.121094]
 [17150.623047]
 [17108.402344]
 [17717.414063]
 [18177.484375]
 [19625.835938]
 [18802.998047]
 [19201.091797]
 [19445.398438]
 [18699.765625]
 [19154.230469]
 [19345.121094]
 [19191.630859]
 [18321.144531]
 [18553.916016]
 [18264.992188]
 [18058.904297]
 [18803.65625 ]
 [19142.382813]
 [19246.644531]
 [19417.076172]
 [21310.597656]
 [22805.162109]
 [22695.804688]]

In [111]:
from sklearn.svm import SVR

In [112]:
svr_rbf = SVR(kernel = 'rbf' , C = 1e3 , gamma = 0.00001)
svr_rbf.fit(x_train , y_train)

SVR(C=1000.0, gamma=1e-05)

In [113]:
svr_rbf.score(x_test , y_test)

0.5642296496399846

In [114]:
predict = svr_rbf.predict(x_test)
print(predict)
print()

print(y_test)

[ 9191.81873869  9506.98571362 12461.80723488  9102.903663
  9312.74811523 10481.97018526  9180.75163741 10041.34513968
  8470.85464715 14542.69453491 14392.75975742  9209.01532125
  9732.42575436 10502.49628392 13677.19584231  9096.63292902
  9876.69899369 11547.82236883  9333.30284896  8537.23369401
  9731.18551952  9418.28823628  9339.92433503  9896.39001391
  9098.43797383  9169.29137678 10460.79917181  9166.28653515
  8199.14000358  9276.37043924  8214.73095802  9632.73040945
 10130.76561725  9721.83170542  8765.7026489   9954.09064344
  9983.55775804  9156.58450349 10483.95488049  9185.58258424
 13407.72218531 11377.36435823 14847.77873993  9100.62016366
  9376.81752527 11948.6276407   9488.02543665 10446.85271857
  9450.24576107 11182.51945733  8266.17808779 10475.10239031
  9183.85807832 10478.63369798 10474.81975334 11886.08953414
  9490.04686152  9582.87499697  9459.2039463   9437.8967367
  9105.32019332 14300.77078061 10711.35194988  9317.51730171
 10375.25591215 14341.41856796  9702.25711097  9213.22970468]

[ 5830.254883  9608.475586 13437.882813  9733.72168   9350.529297
 11053.614258  9475.277344  7176.414551  8864.766602 17150.623047
 18802.998047  9081.761719  9374.887695 11425.899414 19246.644531
  9276.5       9856.611328 10245.296875  9450.702148  9328.197266
  9934.433594  8784.494141 11747.022461 11754.045898 11592.489258
  8756.430664 17804.005859  9252.277344  8801.038086  9726.575195
  8658.553711  9313.610352  9800.636719 11079.46582   8897.46875
  9663.181641  9795.943359  9209.287109 12254.402344  9375.474609
 13780.995117 16716.111328 18177.484375  9123.410156  9182.577148
 11555.363281  9795.700195 11205.892578  6242.193848 16276.34375
  7679.867188 10944.585938  9480.254883 10538.459961  9905.166992
 11483.359375  6733.387207  9386.788086  8562.454102  9321.78125
  9132.227539 19154.230469 10242.347656  9508.993164 11768.871094
 19345.121094  9633.386719  9522.981445]

In [117]:
prediction_last_30days = svr_rbf.predict(prediction_date_array)

In [123]:
print('BITCOIN PRICE FOR FUTURE DAYS')
print(prediction_last_30days)

print()

print(df.tail(Prediction_days))

BITCOIN PRICE FOR FUTURE DAYS
[13041.22469399 11299.54280178 11299.15049879 11344.07848134
 11347.3242296  11298.21390339 11298.40284482 11551.49135057
 11579.58562246 13175.48893599 11605.03076293 11298.21386105
 11298.26169975 11298.21386442 11298.21386105 11298.55627722
 11298.21387327 11298.2138611  11298.21386543 11377.56444559
 11302.08552919 11439.15476271 12001.30032898 11298.26107143
 11298.21387786 11298.21386197 11298.21386106 11298.21386105
 11298.21386105 11298.21386105]

            Close  Prediction
337  17817.089844         NaN
338  18621.314453         NaN
339  18642.232422         NaN
340  18370.001953         NaN
341  18364.121094         NaN
342  19107.464844         NaN
343  18732.121094         NaN
344  17150.623047         NaN
345  17108.402344         NaN
346  17717.414063         NaN
347  18177.484375         NaN
348  19625.835938         NaN
349  18802.998047         NaN
350  19201.091797         NaN
351  19445.398438         NaN
352  18699.765625         NaN
353  19154.230469         NaN
354  19345.121094         NaN
355  19191.630859         NaN
356  18321.144531         NaN
357  18553.916016         NaN
358  18264.992188         NaN
359  18058.904297         NaN
360  18803.656250         NaN
361  19142.382813         NaN
362  19246.644531         NaN
363  19417.076172         NaN
364  21310.597656         NaN
365  22805.162109         NaN
366  22695.804688         NaN